<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Movie</title>
    <style>
        body { font-family: Arial, sans-serif; }
        h1 { color: black; }
        a { color: blue; font-weight: bold; text-decoration: none; margin-bottom: 10px; display: inline-block;}
        table { border-collapse: collapse; width: 80%; margin-top: 10px; }
        th, td { border: 1px solid black; padding: 5px; text-align: center; }
        tr:nth-child(even) { background-color: #f2f2f2; }
    </style>
</head>
<body>
<h1>Edit Movie</h1>
<form th:action="@{/movies/edit/{id}(id=${movie.id})}" th:object="${movie}" method="post">

    Title: <input type="text" th:field="*{title}"/>
    <p th:if="${#fields.hasErrors('title')}"
       th:errors="*{title}"></p><br/>

    Director: <input type="text" th:field="*{director}"/>
    <p th:if="${#fields.hasErrors('director')}"
       th:errors="*{director}"></p><br/>

    Year: <input type="number" th:field="*{releaseYear}"/>
    <p th:if="${#fields.hasErrors('releaseYear')}"
       th:errors="*{releaseYear}"></p><br/>

    Genre: <input type="text" th:field="*{genre}"/>
    <p th:if="${#fields.hasErrors('genre')}"
       th:errors="*{genre}"></p><br/>

    Rating: <input type="number" step="0.1" th:field="*{rating}"/>
    <p th:if="${#fields.hasErrors('rating')}"
       th:errors="*{rating}"></p><br/>

    Watched: <input type="checkbox" th:field="*{watched}"/><br/>

    <button type="submit">Save</button>
</form>

<a href="/movies">Back to list</a>

</body>
</html>
